{{define "root-body"}}
<div>
    <form class="ui form" method="POST">
        <dev class="field">
            <label>UserName</label>
            <input>
        </dev>
        <dev class="field">
            <label>Password</label>
            <input type="password">
        </dev>
        <button class="ui submit blue button">Login</button>
    </form>
</div>
{{end}}

{{define "root-script"}}
<script>
    console.log("index")
</script>
{{end}}

{{define "root-style"}}
{{end}}